# Homework 1

In [1]:
import numpy as np
import pandas as pd

## Q1. What's the version of Pandas that you installed?

In [2]:
pd.__version__

'1.5.3'

### For this homework, we'll use the California Housing Prices dataset. Download it from  [here](https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv)

In [3]:
df = pd.read_csv('data/dataset_housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

## Q2. How many columns are in the dataset

In [4]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20640.000000,20640.000000,20640.000000,20640.000000,20433.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.870553,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.385070,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,296.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

## Q3. Which columns in the dataset have missing values

In [5]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

## Q4. How many unique values does the ocean_proximity column have?

In [6]:
df['ocean_proximity'].nunique()

5

## Q5. What's the average value of the median_house_value for the houses located near the bay?

In [7]:
df[df['ocean_proximity'] == 'NEAR BAY']['median_house_value'].mean()

259212.31179039303

## Q6.

### Calculate the average of total_bedrooms column in the dataset.

In [8]:
df.total_bedrooms.mean()

537.8705525375618

### Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step. Now, calculate the average of total_bedrooms again.

In [9]:
df.total_bedrooms.fillna(df.total_bedrooms.mean()).mean()

537.8705525375617

### Has it changed?  - No

## Q7.

In [10]:
# Select all the options located on islands.
# Select only columns housing_median_age, total_rooms, total_bedrooms.
# Get the underlying NumPy array. Let's call it X.
# Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
# Compute the inverse of XTX.
# Create an array y with values [950, 1300, 800, 1000, 1300].
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
# What's the value of the last element of w?

columns = ['housing_median_age', 'total_rooms', 'total_bedrooms']

X = df[df['ocean_proximity'] == 'ISLAND'][columns].values
XTX = X.T @ X
XTXinv = np.linalg.inv(XTX)
y = np.array([950, 1300, 800, 1000, 1300])

(XTXinv @ X.T @ y)[-1]

5.6992294550655656